
<div class= 'container'>
   <footer class = 'footer'>
     <small>
       test footer
     </small>
     
     <nav>
       <ul> 
         <li>
           <a href = 'https://www.google.com'>google</a>
         </li>
           <a href = 'https://www.google.com'>google</a>
         <li>
           
         </li>
       </ul>
     </nav>
     
   </footer>
</div>